:host {
  display: block;
  height: 100%;
  spotify-web-player-theme-switch {
    position: absolute;
    top: 5px;
    right: 20px;
  }
  @media (max-width: 500px) {
    spotify-web-player-theme-switch {
      right: 10px;
    }
  }
}
