/* You can add global styles to this file, and also import other style files */
@import 'libs/shared/src/lib/theme/theme.scss';
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primaryColor);
}
